<h1>About us</h1>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Why
      </mat-panel-title>
      <mat-panel-description>
        Contains a pitch with hooks that makes people interested in making a difference.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>TBD</p>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Some illustrations showing the problem and the solution.
      </mat-panel-title>
<!--      <mat-panel-description>-->
<!--        Contains a pitch with hooks that makes people interested in making a difference.-->
<!--      </mat-panel-description>-->
    </mat-expansion-panel-header>
    <p>TBD</p>
  </mat-expansion-panel>
</mat-accordion>
